/* dekstop */
@media screen and (min-width: 1024px) {
	
    footer {
        padding: 20px 100px;
    }
}






/* tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
	.navbar-fixed .brand-logo {
        font-size: 24px;
    }
    footer {
        padding: 20px 80px;
    }


    /* data history */
    .data-history {
        font-size: 13px;
    }
}




/* smartphone */
@media screen and (max-width: 767px) {
	.navbar-fixed .brand-logo {
        font-size: 17px;
    }
    footer {
        padding: 20px 50px;
    }




    .data-history {
        font-size: 10px;
    }
    .data-history tbody i {
        display: none;
    }
    

    /* data pengunjung */
    .data-pengunjung {
        font-size: 12px;
    }
}