/* dekstop */
@media screen and (min-width: 1001px) {
	
    footer {
        padding: 20px 100px;
    }


    /* hasil ranking */
    .tabel-perhitungan table, .hasil-rangking table, .rank-lima table {
        font-size: 14px;
    }

}


/* tablet */
@media screen and (min-width: 601px) and (max-width: 1000px) {
	.navbar-fixed .brand-logo {
        font-size: 22px;
    }
    .welcome h4 {
        font-size: 25px;
    }
    footer {
        padding: 20px 80px;
    }


    /* hasil ranking */
    .tabel-perhitungan table, .hasil-rangking table, .rank-lima table {
        font-size: 12px;
    }

    /* data history */
    .data-history {
        font-size: 13px;
    }
}


/* smartphone */
@media screen and (max-width: 600px) {
	.navbar-fixed .brand-logo {
        font-size: 14px;
    }
    .welcome h4 {
        font-size: 20px;
    }
    footer {
        padding: 20px 50px;
    }
    footer p {
        font-size: 12px;
    }


    /* hasil ranking */
    .tabel-perhitungan table, .hasil-rangking table, .rank-lima table {
        font-size: 10px;
    }


    /* data history */
    .data-history {
        font-size: 10px !important;
    }
    .data-history tbody i {
        display: none;
    }
    

    /* data pengunjung */
    .data-pengunjung {
        font-size: 12px;
    }
}